<div class="text-sm hidden sm:flex w-full bg-lapis-blue justify-center font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700">
  <ul class="flex justify-center items-center w-full">
    <li class="me-2">
        <a href="#" class="inline-block text-lime-50 p-5 border-b-4 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300">Home</a>
    </li>
    <li class="me-2">
        <a href="#" class="inline-block text-lime-50 p-5  border-b-4 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300">Dashboard</a>
    </li>
    <li class="me-2">
        <a href="#" class="inline-block text-lime-50 p-5 border-b-4 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300">Employee</a>
    </li>
    <li class="me-2">
        <a href="#" class="inline-block text-lime-50 p-5 border-b-4 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300">Company</a>
    </li>
  </ul>
</div>
